<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350781204168-v7u3r5pknkkthvn321enchuqo8mf753q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350781204168-v7u3r5pknkkthvn321enchuqo8mf753q</string>
	<key>API_KEY</key>
	<string>AIzaSyAE1mgtgWAt8NSQ2GYZOyxZYYOfM2JMnkM</string>
	<key>GCM_SENDER_ID</key>
	<string>350781204168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.setMeApp1Try</string>
	<key>PROJECT_ID</key>
	<string>setmeapp1try</string>
	<key>STORAGE_BUCKET</key>
	<string>setmeapp1try.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350781204168:ios:aacf4a136b97c299aaa7fd</string>
</dict>
</plist>